<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceProviderSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceProviderSoap1" />
                <binding name="WebServiceProviderSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceProviderSoap3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://nongmo.e-cert.net/APIDemo/WebserviceProvider.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceProviderSoap"
                contract="NGPDemo.WebServiceProviderSoap" name="WebServiceProviderSoap" />
            <endpoint address="https://nongmo.e-cert.net/APIRelease/WebserviceProvider.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceProviderSoap2"
                contract="NGPRelease.WebServiceProviderSoap" name="WebServiceProviderSoap1" />
        </client>
    </system.serviceModel>
</configuration>